@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.woff2') format('woff2'),
       url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska-Regular.woff2') format('woff2'),
       url('/fonts/Boska-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  height: 872px;
  position: relative;
  background-image: url('/images/header_image.png');
  overflow-x: hidden;
}

.navBar{
  width: 100%;
  height: 91px;
  display: flex;
  justify-content: space-between;

}

.dvLogo{
  padding-top: 24px;
}

.navItems{
  display: flex;
  gap: 40px;
  margin-right: 64px;
  padding-top: 34px;
}

.navPages{
  display: flex;
  gap: 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%; 
}

.socialLogos{
  display: flex;
  gap: 8px;
}

.heroContent{
  width: 776px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  position: absolute;
  top: 190px;
  right: 332px; 
}

.content-text{
  width: 776px;
  height: 234px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heroContent h1{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(87, 98, 80, 1);
}

.heroContent :first-child p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(144, 153, 139, 1);
}

.scroll {
  width: 37px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color:rgba(144, 153, 139, 1);
}

.scroll div{
  width: 24px;
  height: 24px;
  text-align: center;
}

.scroll p{

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

}

.ovalDiv{
  width: 1698px;
  height: 356px;
  position: absolute;
  top: 782px;
  left: -142px;
  border-radius: 50%;
  background-color: white;
}

.locations{
  width: 1040px;
  height: 418px;
  position: absolute;
  top: 872px;
  left: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;

}

.location-images{
  width: 1040px;
  height: 322px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.location-text h2{
  height: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(87, 98, 80, 1);


}

.location-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.location-text p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(184, 193, 178, 1);
}

.location-card{
  position: relative;
}

.location-card span{
  position: absolute;
  top: 119px;
  left: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);

}
